/* regole generali */

* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  background-color: #B0C4DE;
}

main {
  margin: 20px 20%;
}

section {
  background-color: white;
}

div {
  padding: 8px;
  margin-left: 10px;
}

button {
  font-weight: bold;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  border: 0px;
}

.button-1 {
  background-color: #00BFFF;
}

.button-2 {
  background-color: violet;
}

.button-3 {
  background-color: #20B2AA;
}

.button-4 {
  background-color: orange;
}

.button-5 {
  background-color: #FF69B4;
}

.button-6 {
  background-color: #9ACD32;
}


/* header */

header {
  background-color: white;
}

#logo {
  width: 50px;
  margin: 10px;
  background: white;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  font-size: 40px;
  font-family: sans-serif;
}

span {
  background-color: white;
}

/* nav section */

.sezione-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 2px;
}

.nav-button-1 {
  color: white;
  background-color: #00BFFF;
  margin-left: 25px;
}

.nav-button-2 {
  color: #B0C4DE;
  background-color: white;
  margin-left: 1px;
  border: 1px solid #B0C4DE;
}

/* list section */

img {
  width: 17px;
  height: auto;
  background-color: white;
}

ul {
  background-color: white;
  list-style-type: none;
}

li {
  font-weight: normal;
  font-size: 17px;
  background-color: white;
  margin: 15px 0;
}

.list-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px
}

.box-1 {
  margin: 20px 30px;
  padding: 0;
}

.box-list {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  list-style-type: none;
}

.sezione-centrale {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.button-elenco {
  font-size: 9px;
  color: white;
  margin-left: 25px;
  border-radius: 9px;
  padding: 7px;
}
